header, main, footer {
    padding-left: 301px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0px !important;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

i.material-icons {
    color: teal;
}
